body{
  font-family:Arial;
  background:#eee;
  display:flex;
  justify-content:center;
  align-items:center;
  height:100vh;
}
.card{
  background:#fff;
  padding:20px;
  border-radius:10px;
  width:300px;
  text-align:center;
}
input,button{
  width:100%;
  margin:6px 0;
  padding:10px;
}
.loader{
  display:none;
  position:fixed;
  inset:0;
  background:rgba(0,0,0,.5);
  color:#fff;
  align-items:center;
  justify-content:center;
}
.popup{
  display:none;
  position:fixed;
  inset:0;
  background:rgba(0,0,0,.5);
  align-items:center;
  justify-content:center;
}
.popup-box{
  background:#fff;
  padding:20px;
  border-radius:10px;
  width:250px;
  text-align:center;
}
